<mat-card>
    <mat-card-header>
        <mat-card-title>Create News</mat-card-title>
    </mat-card-header>
    <mat-card-content align="end">
        <form (formGroup)="formStatus">
            <div>
                <textarea #status placeholder="Write a sentence describing your photo" formControlName="status"></textarea>
            </div>
            <div id="photo">
                <img *ngIf="imageUrl" [src]="imageUrl" alt="image" id="preview-photo" >
            </div>
            <input id="photo-upload" type="file" formControlName="image" #uploadFile (change)="upload($event)">
        </form>
        <button mat-icon-button class="btn-upload" (click)="uploadFile.click()">
                <mat-icon>insert_photo</mat-icon>
        </button>
        <button class="post"mat-raise-button (click)="postNews(status)">
            <mat-spinner [diameter]="20" *ngIf="!disable"></mat-spinner>
            <span *ngIf="disable">Post</span>
        </button>
    </mat-card-content>
</mat-card>
