mat-spinner{
    margin: 10% 90%;
}
.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: teal;
}
.comment{
    width: 40vw;
    max-height: 80vh;
    padding: 1rem;
    font-size: 13px;
}
.card-comment{
    position: relative;
    display: flex;
    margin-bottom: 1rem;
}
.avt{
    width:2.5rem; 
    height:2.5rem;
    border-radius: 50%;
    margin-right: 1em ;
    object-fit: cover;
    object-position: center;
    border: 1px solid;
}
#cmt{
    display: block;
    padding: 1px 10px;
    background-color: rgba(0, 0, 0, 0.162);
    border-bottom: 1px solid rgba(0, 0, 0, 0.37) ;
    border-radius: 1rem
}
.createCmt{
    display:flex;
    position:sticky;
    bottom: 10px;
    padding: 5px 0;
}
.createCmt img{
    margin-right: 1.5rem;
}
.createCmt input{
    min-width: 50%;
    height:5vh;
    border: 1px solid black;
    border-radius: 6vh;
    margin-top: 2px;
    padding-left:10px;
}
.createCmt button{
    margin: 0 1.5rem;
}
.createCmt mat-icon{
    color: teal;
}
@media(max-width: 960px){
    .avt{
        width:2rem; 
        height:2rem;
    }
    .comment{
        width: 80vw;
        max-height: 80vh;
        font-size: 0.7rem;
    }
    .createCmt img{
        margin-right: 1rem;
    }
    .createCmt button{
        margin: 0 1rem;
    }
}