<div class="comment">
    <ng-container *ngFor="let comment of comments">
        <div class="card-comment">
            <img class="avt" [src]="comment.avatarCmt">
            <div id="cmt">
                <p>{{comment.creatorName}}</p>
                <p>{{comment.comment}}</p>
            </div>
        </div>
    </ng-container>
    <div class="createCmt">
        <img *ngIf="avatarUrl" class="avt" [src]="avatarUrl" alt="avatar">
        <form [formGroup]="formComment">
            <input matInput type="text" placeholder="Enter your comment" formControlName="comment">
        </form>
        <button mat-icon-button (click)="postComment()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>