.homePage{
    width: 70%;
    margin: 0 15%;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2px;
}
.add img{
    width:50px; 
    height:50px;
    border-radius: 50%;
    margin: 0 20px;
}
.add mat-card-content{
    display: flex;
    margin: 5px 20px;
}
.add input{
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 30px;
    margin: 10px 0;
}

